<!-- --------------        newsfeed  start         --------------------- -->
<section class="newsfeed light-blue-bg">
<canvas #canvas id="canvas" width="400" height="400">
</canvas>
<div class="container">
<div class="row">
<div class="col-md-4 col-12">
<h1 class="news-letter">NEWSLETTER</h1>
</div>
<div class="col-md-3 col-6">
<input type="text" class="form-control rounded-formcontrol" placeholder="First name">
</div>
<div class="col-md-3 col-6">
<input type="email" class="form-control rounded-formcontrol" placeholder="Email">
</div>
<div class="col-md-2 col-12">
<button class="btn btn-block rounded-formcontrol dark-blue-bg">SEND</button>
</div>
</div>
</div>
</section>
<!--------------------        newsfeed  end         ----------------------->




<!-- footer start -->

<footer class="dark-blue-bg text-white">

<div class="links">
<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-sm-6">
    <h6 class="font-weight-bold">About Company</h6>
    <p>Book your travel reservations is secure Book your travel reservations is secure Book your travel reservations is secure</p>
    <div class="row" id="payment-methods">
      <div class="ml-3">
        <a href="#"><i class="fab fa-cc-visa"></i></a>
      </div>
      <div class="ml-1">
        <a href="#"><i class="fab fa-cc-mastercard"></i></a>
      </div>
      <div class="ml-1">
        <a href="#"><i class="fab fa-cc-amex"></i></a>
      </div>
    </div>
  </div>
<div class="col-md-4 col-sm-6">
<h6 class="font-weight-bold">Customer support</h6>
<ul>
<li><a href="#">company</a></li>
<li><a href="#">Kingdom of Saudi Arabia</a></li>
<li><a href="#">The United Arab Emirates</a></li>
<li><a href="#">Bahrain</a></li>
<li><a href="#">the world </a></li>

</ul>
</div>

<div class="col-md-4 col-sm-12">
<div class="social">
<h6 class="font-weight-bold">Follow Us</h6>
<a href="#" class="social-link"><i class="fab fa-pinterest-p"></i></a>
<a href="#" class="social-link"><i class="fab fa-behance"></i></a>
<a href="#" class="social-link"><i class="fab fa-google-plus-g"></i></a>
<a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
<a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
<a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
</div>
<div class="store">
<div><a href=""><img src="assets/images/google-play.png" class="store" alt=""></a></div>
<div><a href=""><img src="assets/images/app-store.png" class="store" alt=""></a></div>
</div>
</div>

</div>
</div>
</div>

<div class="login v-dark-blue-bg">
<div class="container-fluid">
<div class="row">
<div class="col-md-1 offset-md-1 offset-sm-0"> <a href="" class="text-white">FAQ</a></div>
<div class="col-md-1"> <a href="" class="text-white">Contact Us</a></div>
  <div class="col-md-1"> <a href="" class="text-white">Privacy</a></div>
  <div class="col-md-1"> <a href="" class="text-white">Policy</a></div>
  <div class="col-md-1"> <a href="" class="text-white">OurGuide</a></div>
  <div class="col-md-1"> <a href="" class="text-white">Tourists</a></div>
  <div class="col-md-2"> <a href="" class="text-white">Our application has expired</a></div>
  <div class="col-md-3"> <a href="" class="text-white">We are Vacancies</a></div>
</div>
</div>
</div>

<div class="copyrights dark-blue-bg">
<div class="container-fluid">
<div class="d-flex justify-content-between">
<div class="">Copyright © 2018 .com™. All rights reserved.</div>
<div class="" id="company">design and development by <span><a href="serv5.com" class="light-blue">serv5.com</a></span></div>
</div>
</div>


</div>

</footer>
