<div class="container-fluid" id="hotel-select">
  <form class="form-inline">
    <div class="row">

      <div class="col-lg-2 col-md-12" id="select-hotel-word">
        Select Your Hotel
      </div>
      <div class="input-group col-lg-3 col-md-12">
        <label for="city_">City</label>
        <input type="text" class="form-control" id="city_">
      </div>
      <div class="input-group col-lg-3 col-md-12">
        <label for="dateFrom">Datefrom</label>
        <input type="text" class="form-control not-city" id="dateFrom" placeholder="03 Jul">
        <input type="text" class="form-control no-label not-city" id="dateFrom_" placeholder="10:00 am">
      </div>
      <div class="input-group col-lg-3 col-md-12">
        <label for="dateTo">TO</label>
        <input type="text" class="form-control not-city" id="dateTo" placeholder="03 Jul">
        <input type="text" class="form-control no-label not-city" id="dateTo_" placeholder="10:00 am">
      </div>
      <div class="col-lg-1 col-md-12">
        <button type="submit" class="btn search-btn">Search</button>
      </div>
    </div>
  </form>

</div>


<main class="row">
  <div class="col-lg-3 offset-lg-1 col-md-3">
    <button class="btn btn-block collapse-toggler" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseExample">
      Popularfilters <i class="fas fa-angle-down"></i>
    </button>
    <div class="clearfix"></div>
    <ul class="list-group collapse show" id="collapseFilter">
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Hotels
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Beachs
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Very good
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            beachs
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            hotels
          </label>
        </div>
      </li>
    </ul>
    <button class="btn btn-block collapse-toggler" data-toggle="collapse" href="#collapseRating" role="button" aria-expanded="false">
      Star rating <i class="fas fa-angle-down"></i>
    </button>
    <div class="clearfix"></div>
    <ul class="list-group collapse show" id="collapseRating">
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            1 star
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            2 star
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            3stars
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Economy
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Economy
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Economy
          </label>
        </div>
      </li>
    </ul>
    <div id="callUs">
      <h6>Have a question? <a href="#">Call us!</a> </h6>
      <img src="../../../assets/images/question.png">
      <p>+23322545445474</p>
      <span>CallCenterWorkingHours</span><br>
      <span>Sun-Sat: 7:00AM - 10 PM GMT</span>
    </div>
    <div id="room-img">
            <span id="room-name">
      Hotels in morocco
    </span>
    </div>


  </div>
  <div class="col-lg-7 col-md-9">
    <div id="searchFound">
      <p>We found <a href="#"> 111 great Hotels</a> for you in San Francisco, USA California</p>
    </div>
    <div id="ads" class="container">
      <img class="move-car" src="../../../assets/images/download@1X.png" snInViewport>
      <button type="button" class="btn rounded-formcontrol badges">Ads Bar</button>
      <div class="clearfix"></div>
    </div>
    <div id="villa-container">
      <div class="row villa-item">
        <div class="col-md-9">
          <a href="#">Kuhla Boutique Suite Hotel Opens in new window</a>
          <img src="../../../assets/images/60363087@1X.png">
          <div class="stars-rank">
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
          </div>
          <div class="clearfix"></div>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">pools
              </li>
              <li class="breadcrumb-item" aria-current="page">gardans</li>
              <li class="breadcrumb-item" aria-current="page">aqua park</li>
              <li class="breadcrumb-item active" aria-current="page">wifi</li>
              <li class="breadcrumb-item active" aria-current="page">gym</li>
            </ol>
            <p class="tag">restaurant</p>

          </nav>

        </div>
        <div class="col-md-3 booking">
          <p><span>EGP1206.97/<b>day</b><br></span> Total EGP 3620.91</p>
          <button class="btn condos-bg">Book</button>
        </div>
      </div>
      <div class="row villa-item">
        <div class="col-md-9">
          <a href="#">Kuhla Boutique Suite Hotel Opens in new window </a>
          <img src="../../../assets/images/60363087@1X.png">

          <div class="stars-rank">
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
          </div>
          <div class="clearfix"></div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">pools
              </li>
              <li class="breadcrumb-item" aria-current="page">gardans</li>
              <li class="breadcrumb-item" aria-current="page">aqua park</li>
              <li class="breadcrumb-item active" aria-current="page">wifi</li>
              <li class="breadcrumb-item active" aria-current="page">gym</li>

            </ol>
            <p class="tag">restaurant</p>

          </nav>

        </div>
        <div class="col-md-3 booking">
          <p><span>EGP1206.97/<b>day</b><br></span> Total EGP 3620.91</p>
          <button class="btn condos-bg">Book</button>
        </div>
      </div>
      <div class="row villa-item">
        <div class="col-md-9">
          <a href="#">Kuhla Boutique Suite Hotel Opens in new window </a>
          <img src="../../../assets/images/60363087@1X.png">

          <div class="stars-rank">
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
          </div>
          <div class="clearfix"></div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">pools
              </li>
              <li class="breadcrumb-item" aria-current="page">gardans</li>
              <li class="breadcrumb-item" aria-current="page">aqua park</li>
              <li class="breadcrumb-item active" aria-current="page">wifi</li>
              <li class="breadcrumb-item active" aria-current="page">gym</li>
            </ol>
            <p class="tag">restaurant</p>

          </nav>

        </div>
        <div class="col-md-3 booking">
          <p><span>EGP1206.97/<b>day</b><br></span> Total EGP 3620.91</p>
          <button class="btn condos-bg">Book</button>
        </div>
      </div>
      <div class="row villa-item">
        <div class="col-md-9">
          <a href="#">Kuhla Boutique Suite Hotel Opens in new window </a>
          <img src="../../../assets/images/60363087@1X.png">

          <div class="stars-rank">
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
            <span class="fa fa-star checked" snInViewport></span>
          </div>
          <div class="clearfix"></div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">pools
              </li>
              <li class="breadcrumb-item" aria-current="page">gardans</li>
              <li class="breadcrumb-item" aria-current="page">aqua park</li>
              <li class="breadcrumb-item active" aria-current="page">wifi</li>
              <li class="breadcrumb-item active" aria-current="page">gym</li>

            </ol>
            <p class="tag">restaurant</p>

          </nav>

        </div>
        <div class="col-md-3 booking">

          <p><span>EGP1206.97/<b>day</b><br></span> Total EGP 3620.91</p>
          <button class="btn condos-bg">Book</button>
        </div>
      </div>
    </div>
  </div>
</main>
