<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col-sm-12">
<div class="row" id="visa">
     <div class="col-md-4">
       <div class="card">
         <div class="card-body">
           <div class="card-title">
            <p>

              Air Flights Offers
            </p>
             <span class="container-icon">
               <img src="../../../assets/images/Shape%205@1X.png">
             </span>

           </div>
           <p class="font-weight-bold">
             Enjoy a 5% discount on your hotel booking with Visa using VISA5!
           </p>
           <p class="paragraph-gray">
             Enjoy a 5% discount on your hotel booking with Visa using VISA5!

           </p>
           <div class="divider"></div>
           <div class="row mt-3 card--footer">
             <div class="col-md-6">
               <p>Available until: 31 Dec 2018.
               </p>
             </div>
             <div class="col-md-6">
               <button class="btn">Offer Details</button>
             </div>


           </div>
         </div>
       </div>
     </div>
  <div class="col-md-8">
    <img src="../../../assets/images/exclusive-visa-offer-offer-ar@1X.png">
  </div>
</div>
    </div>
  </div>
  <div class="row mb-5" id="offers">

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <p>

            Cars Offers
          </p>
          <span class="container-icon">
               <img src="../../../assets/images/Shape%206@1X.png">
             </span>

        </div>
        <p class="font-weight-bold">
          Enjoy a 5% discount on your hotel booking with Visa using VISA5!
        </p>
        <p class="paragraph-gray">
          Enjoy a 5% discount on your hotel booking with Visa using VISA5!

        </p>
        <div class="divider"></div>
        <div class="row mt-3 card--footer">
          <div class="col-md-6">
            <p>Available until: 31 Dec 2018.
            </p>
          </div>
          <div class="col-md-6">
            <button class="btn">Offer Details</button>
          </div>


        </div>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <p>

              Hotels Offers
            </p>
            <span class="container-icon">
               <img src="../../../assets/images/Shape%205@1X.png">
             </span>

          </div>
          <p class="font-weight-bold">
            Enjoy a 5% discount on your hotel booking with Visa using VISA5!
          </p>
          <p class="paragraph-gray">
            Enjoy a 5% discount on your hotel booking with Visa using VISA5!

          </p>
          <div class="divider"></div>
          <div class="row mt-3 card--footer">
            <div class="col-md-6">
              <p>Available until: 31 Dec 2018.
              </p>
            </div>
            <div class="col-md-6">
              <button class="btn">Offer Details</button>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <p>

              Hotels Offers
            </p>
            <span class="container-icon">
               <img src="../../../assets/images/Shape%205@1X.png">
             </span>

          </div>
          <p class="font-weight-bold">
            Enjoy a 5% discount on your hotel booking with Visa using VISA5!
          </p>
          <p class="paragraph-gray">
            Enjoy a 5% discount on your hotel booking with Visa using VISA5!

          </p>
          <div class="divider"></div>
          <div class="row mt-3 card--footer">
            <div class="col-md-6">
              <p>Available until: 31 Dec 2018.
              </p>
            </div>
            <div class="col-md-6">
              <button class="btn">Offer Details</button>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>



