<main class="row">
  <div id="car-details-header" class="col-sm-12 pb-4">
    <div class="col-sm-12" id="stepper-container">
      <div class="container">
        <ul class="progressbar">
          <li class="active">Select vehical</li>
          <li class="activeNext">Book online</li>
          <li>Secure payment</li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div id="airplane-container" class="row pr-5 pt-3">

      <div class="col-md-5 offset-md-1">
        <div class="row airport-info">
          <div class="col-md-7">
            <a href="#">
              Casblance Airport Muhammmed V (CMN)
            </a>
            <p class="text-right airport-info-addition">Casblance, Morocce</p>
          </div>
          <div class="col-md-1 marker">
            <i class="fas fa-map-marker-alt"></i>

          </div>
          <div class="col-md-4">
            <p>October 17, 2018</p>
            <span class="airport-info-addition">11:00, Friday</span>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-md-1 mt-3 text-center" id="map-marker">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <div class="col-md-5">
        <div class="row airport-info">
          <div class="col-md-7">
            <a href="#">
              Casblance Airport Muhammmed V (CMN)
            </a>
            <p class="text-right airport-info-addition">Casblance, Morocce</p>
          </div>
          <div class="col-md-1 marker">
            <i class="fas fa-map-marker-alt"></i>

          </div>
          <div class="col-md-4">
            <p>November 2, 2018</p>
            <span class="airport-info-addition">11:00, Friday</span>
          </div>
        </div>
      </div>

    </div>
  </div>
<div class="col-md-10 offset-md-1">
  <div class="row" id="nav-car">

    <nav class="navbar navbar-expand-md mb-2">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Back to search result</a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Car Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Customer  reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Importent Information</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
  <div class="row car-info">

    <div class="col-md-4 col-sm-12">
      <a href="#">Honda civic 2018</a>


      <img src="../../../assets/images/car-free-transparent-png-8@1X.png" class="car-photo">
      <div>
        <img src="../../../assets/images/Cars5a2ae7a9db68181c8f184d5d@1X.png" class="budget">
      </div>
      <div class="vertical-divider"></div>
      <div class="rating float-left">
        <span>7.5</span>

      </div>
      <span class="ml-1">very good</span><br>
      <span class="vote ml-1">250 vote</span>
      <div class="clearfix"></div>

    </div>
    <div class="car-features col-md-5 col-sm-12">
      <button type="button" class="btn top-seller">
        Top seller
      </button>
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/C1a3-02-512@1X.png">
          <p class="feature-item">4 Seats</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/C296-128@1X.png">
          <p class="feature-item">2 Small bags</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/C3Layer%2010@1X.png">
          <p class="feature-item">4 Doors</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/C4Layer%2012@1X.png">
          <p class="feature-item">automatic gearbox</p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="../../../assets/images/C5Layer%2011@1X.png">
          <p class="feature-item">Air Conditioning</p>
        </div>


      </div>

    </div>
    <div class="col-md-3 col-sm-12 booking">
      <p>Price for 21 days<br> <span>SAR <b>1206.97</b></span></p>
      <button class="btn condos-bg">Book</button>
    </div>


  </div>

  <div class="row car-info mt-3 p-4" id="car-pros">
    <div class="col-md-9">
    <p>
      <a>
        Full protection .... for peace of mind
      </a><br>
      At the counter, the car rental company will block a deposit amount on your credit card. You could lose a deposit amount, if the car is damaged or stolen, but as long as you have our Full Coverage, wn full! Why pay more for cover at the car rental
    </p>
      <b>The cost of one day is 100 Moroccan Dirham (MAD 800) for 8 days
      </b>
      <div class="row">
        <div class="col-md-6">
<div class="pros-item row pb-2">
  <div class="col-md-9">
    Cover against partial loss of the vehicle
  </div>
 <div class="col-md-3">
  <img src="../../../assets/images/Ellipse%209%20copy@1X.png" class="checkBox">
  <img src="../../../assets/images/XX.png">
 </div>

</div>
          <div class="pros-item row pb-2">
          <div class="col-md-9">Risk of accidents, theft and fire</div>
          <div class="col-md-3">
            <img src="../../../assets/images/Ellipse%209%20copy@1X.png" class="checkBox">
            <img src="../../../assets/images/XX.png">
          </div>
          </div>

          <div class="pros-item row">
            <div class="col-md-9 pb-2">
              Mechanical or electrical holidays for any part of the vehicle
            </div>
            <div class="col-md-3">
            <img src="../../../assets/images/Ellipse%209%20copy@1X.png" class="checkBox">
            <img src="../../../assets/images/XX.png">
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="section-header row">
    <h2>Additions</h2>
  </div>
  <div class="row car-info-section" id="additions">
    <div class="col-md-3 map-item" (click)="addItem(0)">
      <img src="../../../assets/images/Maps.png">
      <p>
        GPS - Positioning Device Cost for the entire duration of the lease is AED 0
      </p>
      <div class="map-item-overlay">
        <div>
          <img src="../../../assets/images/true.png" class="true-img">
        </div>

      </div>
    </div>
    <div class="col-md-3 map-item" (click)="addItem(1)">
      <img src="../../../assets/images/Maps.png">
      <p>
        GPS - Positioning Device Cost for the entire duration of the lease is AED 0
      </p>
      <div class="map-item-overlay">
        <div>
          <img src="../../../assets/images/true.png" class="true-img">
        </div>

      </div>
    </div>
    <div class="col-md-3 map-item" (click)="addItem(2)">
      <img src="../../../assets/images/Maps.png">
      <p>
        GPS - Positioning Device Cost for the entire duration of the lease is AED 0
      </p>
      <div class="map-item-overlay">
        <div>
          <img src="../../../assets/images/true.png" class="true-img">
        </div>

      </div>
    </div>
    <div class="col-md-3 map-item" (click)="addItem(3)">
      <img src="../../../assets/images/Maps.png">
      <p>
        GPS - Positioning Device Cost for the entire duration of the lease is AED 0
      </p>
      <div class="map-item-overlay">
        <div>
          <img src="../../../assets/images/true.png" class="true-img">
        </div>

      </div>
    </div>


  </div>
  <div class="section-header row">
    <h2>Flight data
    </h2>
  </div>
  <div class="row car-info-section form-section">
<p>
  Providing us with your flight number will help us keep your car in case your aircraft is delayed
</p>
    <form class="col-sm-12">
      <div class="row mb-4">
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Flight number">
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Airline company">
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Date of arrival">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Arrival date">
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Destination">
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Destination">
        </div>
      </div>
    </form>

  </div>
  <div class="section-header row">
    <h2>Driver data
    </h2>
  </div>
  <div class="row car-info-section form-section">
    <p>
      IMPORTANT: Please enter the full name of the driver as recorded on your passport or international driving license
    </p>
    <form class="col-sm-12">
      <div class="row mb-4">
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Adjective">
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Full name">
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Country">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Email">
        </div>
        <div class="col-md-4 col-sm-12 mb-2">
          <input type="text" class="form-control rounded-formcontrol" placeholder="Phone number">
        </div>

      </div>
    </form>

  </div>
</div>
</main>
<button class="btn rounded-formcontrol next-step-btn">Go to next step</button>





